<h1>Ejemplo 1: Crear un sitio web desde cero e implementarlo con gitlab pages </h1>
<h2>Pasos</h2>
<ol>
    <li>Crear nuevo proyecto</li>
    <li>Crear template</li>
    <li>Crear archivo de configuracion .gitlab-ci.yml</li>
    <li>Revisar CI/CD status pages</li>
    <li> Revisar la direccion la pg desde settings>Pages </li>
</ol>    
